body {
    font-family: 'Arial', sans-serif;
    /*background-color: rgb(224, 188, 224);*/
    background-color: #d1adcc;
    margin: 0;
    padding: 0;
}

header {
    color: rgb(203, 22, 203);
    text-align: center;
    padding: 10px;
}

h1{
    font-family:"Sofia", sans-serif;
    color: black;
}

i{
    color: rgb(203, 22, 203);
}

p,h2{
    font-family:"Sofia", sans-serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: large;
    color: rgb(203, 22, 203);
    text-align: center;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin-left: 100px;
    align-self: center;
}

th,td{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 15px;
}

th{
    font-family: "Sofia", sans-serif;
    font-style: normal;
    font-size: larger;
    background-color: rgb(203,22,203);
    color: black;
}

td{
    font-family:"Sofia", sans-serif;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: large;
    color: rgb(203, 22, 203);
}

footer {
    text-align: center;
    color: rgb(203, 22, 203);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}