body {
            /*background-color: rgb(224, 188, 224);*/
            background-color: #d1adcc;
            margin: 0; /* Remove default body margin */
            padding: 0; /* Remove default body padding */
        }
        h1 {
            text-align: center;
            font-family: "Sofia", sans-serif;
            margin-bottom: 20px; /* Add margin to the bottom of the heading */
        }
        form {
            text-align: center;
        }
        img {
            display: block;
            margin: 0 auto; /* Center the image */
            max-width: 10%; /* Adjust the size as needed */
            height: 10; /* Maintain aspect ratio */
            margin-top: 20px; /* Add margin to the top of the image */
        }
        #sign {
            background-color: rgb(193, 16, 193); /* Pink background color */
            color: white; /* White text color */
            padding: 10px 20px; /* Padding inside the button */
            font-size: 16px; /* Font size */
            border: none; /* No border */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Cursor style on hover */
            width: 50%;
            font-family: "Sofia", sans-serif;
            font-style: oblique;
        }
        #sign:hover {
            background-color:white;
            color: rgb(193, 16, 193);
       
        }
        .container {
            display: flex;
            align-items: center;
            justify-content:left; /* Add space around video and form */
            /* Add margin to the top of the container */
        }
        .vid {
            max-width: 45%; /* Adjust width as needed */
            max-height: 100vh;
            margin-right: 10px; /* Add margin to the right of the video */
            margin-left: 30px;
        }
        video {
            max-width: 100%;
            max-height: 100%;
        }
        .frm{
            margin-left: 100px;
        }
        a{
            color: rgb(193, 16, 193);
        }
        a:hover{
            color: rgb(193, 16, 193);
        }
        .input-grp{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        .input-grp input{
            border-radius: 5px;
            font-size: 20px;
            margin-top: 5px;
            padding: 5px;
            border-color: rgb(193, 16, 193);
        }
        .input-grp input:focus{
            outline: 0;
        }
        label{
            color: rgb(193, 16, 193);
            font-family: "Sofia", sans-serif;
            font-style: oblique;
            letter-spacing: 2px;
            font-weight: bold;
            display: flex;
            flex-direction: row;
        }
        .error{
            color: black;
            font-size: 16px;
            font-family: "Sofia", sans-serif;
            font-style: oblique;
            margin-top: 5px;
            text-align: left;
        }
        .input-grp.success input{
            border-color: rgb(193, 16, 193);
        }
        .input-grp.error input{
            border-color: black;
        }
